/* variables  */

:root {
    --main-bg-color: #FFFFF0;
    --light-bg-color: #ebebeb;
    --third-color-for-any: #ff6700;
    --main-text-color: #fff;
    --dark-color: #000017;
    --secondary-text-color: #333;
    --second-filtter-color: #dfdfdf;
    --another-main-color: #004e98;
    --another-color-for-hover: #3a6ea5;
    --box-shadow-color: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    --border-color: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
}

*::selection {
    background-color: var(--another-main-color);
    color: var(--main-text-color);
}

/* custmozing the scroll bar */
::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--another-main-color);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 1rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
}

/* Main section */

Section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* Main heading */

.heading {
    font-size: 3rem;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

/* header */

#menu-btn {
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
    color: var(--dark-color);
}

.flex-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Main btn */

.btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--main-text-color);
    background-color: var(--another-main-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--another-color-for-hover);
        transform: scale(1.05);
    }
}

.header {
    background-color: var(--light-bg-color);
    color: var(--dark-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow-color);

    .flex {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.5rem;
            font-weight: 700;
            cursor: pointer;
            color: var(--another-main-color);

            i {
                color: var(--third-color-for-any);
            }

            span {
                color: var(--another-main-color);
            }
        }

        .navbar {
            list-style: none;

            li {
                display: inline-block;
                margin-right: 1rem;

                a {
                    padding: 1rem 2rem;
                    color: var(--dark-color);
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    border-radius: 0.5rem;
                    transition: color 0.3s;

                    &:hover {
                        background-color: var(--another-main-color);
                        color: var(--main-text-color);
                    }
                }
            }
        }
    }
}

/* home */
.home-container {
    background: url('../images/backgrounds/home-bg4.jpeg'), rgba(0, 0, 0, 0.7) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;

    .home {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            background-color: var(--main-bg-color);
            width: 50rem;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;

            h3 {
                font-size: 2.5rem;
                margin-bottom: 2rem;
                color: var(--another-main-color);
                text-transform: capitalize;
            }

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                text-transform: capitalize;
                text-align: start;
                padding-top: 1rem;

                span {
                    color: var(--third-color-for-any);
                }
            }

            .input {
                width: 100%;
                padding: 1rem;
                margin: 1rem 0;
                font-size: 1.6rem;
                border: var(--border-color);
                border-radius: 0.5rem;
            }
        }
    }
}

/* Category */

.category {

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;

        .box {
            background-color: var(--main-bg-color);
            padding: 2rem;
            ;
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-color);
            text-align: flex-start;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color 0.3s;

            i {
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                font-size: 1.8rem;
                border-radius: .5rem;
                background-color: var(--another-color-for-hover);
                text-align: center;
                color: var(--main-text-color);
            }

            h3 {
                font-size: 2rem;
                color: var(--another-main-color);
                margin-bottom: .4rem;
            }

            span {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
            }

            &:hover {
                background-color: var(--another-main-color);

                h3 {
                    color: var(--main-text-color);
                }

                span {
                    color: var(--main-text-color);
                }

                i {
                    background-color: var(--light-bg-color);
                    color: var(--dark-color);
                }
            }
        }
    }
}

/* Jobs */

.jobs-container {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        .box {
            background-color: var(--main-bg-color);
            padding: 2rem;
            border-radius: 0.5rem;
            border: var(--border-color);
            box-shadow: var(--box-shadow-color);
            overflow-x: hidden;

            .company {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin-bottom: 1.5rem;

                img {
                    height: 8rem;
                    width: 8rem;
                    border-radius: 50%;
                    object-fit: contain;
                    margin-right: 1rem;
                }

                h3 {
                    font-size: 2rem;
                    color: var(--another-main-color);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-transform: capitalize;
                    padding-bottom: .5rem;
                }

                span {
                    font-size: 1.2rem;
                    color: var(--secondary-text-color);
                }

            }

            .job-title {
                font-size: 2rem;
                color: var(--another-main-color);
                text-transform: capitalize;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .tags{
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                margin: 1rem 0;

                p{
                    padding: 1rem 2rem;
                    background-color: var(--second-filtter-color);
                    color: var(--another-main-color);
                    border-radius: 1rem;
                    border: 1px solid var(--second-filtter-color);
                    font-size: 1.6rem;

                    &:hover{
                        background-color: var(--another-main-color);
                        color: var(--main-text-color);
                        border: 1px solid var(--another-main-color);
                    }

                    &:first-child{
                        margin-left: 0;
                    }

                    i{
                        margin-right: .5rem;
                    }

                }
            }

            .location{
               padding: 1rem 0;
               font-size: 1.6rem;
               color: var(--secondary-text-color);

                i{
                     margin-right: .5rem;
                     color: var(--another-main-color);
                }
            }

            .ri-bookmark-line{
                font-size: 2.5rem;
                color: var(--another-main-color);
                cursor: pointer;
                transition: color 0.3s;
                background-color: var(--main-bg-color);

                &:hover{
                    color: var(--third-color-for-any);
                }
            }

            .ri-share-forward-line{
                font-size: 2.5rem;
                color: var(--another-main-color);
                cursor: pointer;
                transition: color 0.3s;
                background-color: var(--main-bg-color);

                &:hover{
                    color: var(--third-color-for-any);
                }
            }
        }
    }
}






















/* footer */

.footer {
    background-color: var(--light-bg-color);

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        .box {

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
                color: var(--another-main-color);
            }

            a {
                display: block;
                color: var(--secondary-text-color);
                font-size: 1.6rem;
                margin-bottom: 1rem;
                padding: 0.5rem 0;
                transition: color 0.3s;

                &:hover {
                    margin-left: 2rem;
                    color: var(--another-main-color);
                    transition: .2s linear;
                }

                i {
                    color: var(--another-main-color);
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .credit {
        text-align: center;
        padding: 2rem 0;
        background-color: var(--another-main-color);
        color: var(--main-text-color);
        font-size: 1.6rem;
        box-shadow: var(--box-shadow-color);

        span {
            color: var(--third-color-for-any);
        }
    }

}



















/* media queries */

@media screen and (max-width: 991px) {

    html {
        font-size: 55%;
    }

}

@media screen and (max-width: 768px) {

    html {
        font-size: 52%;
    }

    .header {

        .flex {

            .navbar.active {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: var(--light-bg-color);
                box-shadow: var(--box-shadow-color);
                text-align: center;
                padding: 1rem 0;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                transition: .2s linear;

                li {
                    display: block;
                    margin: 1rem 0;

                    a {
                        padding: 1rem 0;
                        display: block;
                        color: var(--dark-color);
                        font-size: 2rem;
                        transition: color 0.3s;

                        &:hover {
                            background-color: var(--another-main-color);
                            color: var(--main-text-color);
                        }
                    }
                }
            }
        }
    }

    #menu-btn {
        display: inline-block;
    }

    .header {

        .flex {

            .logo {
                font-size: 2rem;
            }
        }
    }

    .category {

        .box-container {
            grid-template-columns: repeat(auto-fit, 16);

            .box {
                flex-flow: column;
                text-align: center;

                h3 {
                    margin-top: 1rem;
                }
            }
        }

    }

}

@media screen and (max-width: 450px) {

    html {
        font-size: 50%;
    }

}