/* variables  */

:root {
    --main-bg-color: #FFFFF0;
    --light-bg-color: #ebebeb;
    --third-color-for-any: #ff6700;
    --main-text-color: #fff;
    --dark-color: #000017;
    --secondary-text-color: #333;
    --second-filtter-color: #dfdfdf;
    --another-main-color: #004e98;
    --another-color-for-hover: #3a6ea5;
    --box-shadow-color: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    --border-color: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
}

*::selection {
    background-color: var(--another-main-color);
    color: var(--main-text-color);
}

/* custmozing the scroll bar */
::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--another-main-color);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 1rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
}

/* Main section */

Section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* Main heading */

.heading {
    font-size: 3rem;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.section-title {
    font-size: 6rem;
    border-top: 1rem solid var(--another-main-color);
    border-bottom: 1rem solid var(--another-main-color);
    background-color: var(--secondary-text-color);
    color: var(--light-bg-color);
    text-align: center;
    padding: 6rem 2rem;
    text-transform: capitalize;
}

/* animated send message button for the contact us form */

.submit {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: .5rem;
    background: transparent;
    color: var(--another-color-for-hover);
    border: 2px solid;
    transition: width 0.5s;
}

.process {
    width: 300px;
    transition: width 0.5s;
    box-shadow: var(--box-shadow-color);
}

.process::before {
    content: ' ';
    position: absolute;
    background-color: var(--third-color-for-any);
    background-image: linear-gradient(315deg, var(--third-color-for-any) 0%, var(--third-color-for-any) 74%);
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    animation: processing 5s;
    border-radius: .5rem;
    z-index: -1;
}

.tick {
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 1;
    transition: left 2s;
}

.submitted {
    padding-left: 40px;
    animation: tick 0.6s;
    background-image: linear-gradient(315deg, var(--third-color-for-any) 0%, var(--third-color-for-any) 74%);
    box-shadow: var(--box-shadow-color);
}


@keyframes processing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes tick {
    0% {
        transform: scale(0.1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* header */

#menu-btn {
    font-size: 2.5rem;
    display: none;
    cursor: pointer;
    color: var(--dark-color);
}

.flex-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Main btn */

.btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: var(--main-text-color);
    background-color: var(--another-main-color);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--another-color-for-hover);
        transform: scale(1.05);
    }
}

.header {
    background-color: var(--light-bg-color);
    color: var(--dark-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow-color);

    .flex {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.5rem;
            font-weight: 700;
            cursor: pointer;
            color: var(--another-main-color);

            i {
                color: var(--third-color-for-any);
            }

            span {
                color: var(--another-main-color);
            }
        }

        .navbar {
            list-style: none;

            li {
                display: inline-block;
                margin-right: 1rem;

                a {
                    padding: 1rem 2rem;
                    color: var(--dark-color);
                    font-size: 1.6rem;
                    text-transform: capitalize;
                    border-radius: 0.5rem;
                    transition: color 0.3s;

                    &:hover {
                        background-color: var(--another-main-color);
                        color: var(--main-text-color);
                    }
                }
            }
        }
    }
}

/* home */
.home-container {
    background: url('../images/backgrounds/home-bg4.jpeg'), rgba(0, 0, 0, 0.7) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color;

    .home {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            background-color: var(--main-bg-color);
            width: 50rem;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;

            h3 {
                font-size: 2.5rem;
                margin-bottom: 2rem;
                color: var(--another-main-color);
                text-transform: capitalize;
            }

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                text-transform: capitalize;
                text-align: start;
                padding-top: 1rem;

                span {
                    color: var(--third-color-for-any);
                }
            }

            .input {
                width: 100%;
                padding: 1rem;
                margin: 1rem 0;
                font-size: 1.6rem;
                border: var(--border-color);
                border-radius: 0.5rem;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--secondary-text-color);
                }
            }
        }
    }
}

/* Category */

.category {

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;

        .box {
            background-color: var(--main-bg-color);
            padding: 2rem;
            ;
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-color);
            text-align: flex-start;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: background-color 0.3s;

            i {
                height: 4.5rem;
                width: 4.5rem;
                line-height: 4.5rem;
                font-size: 1.8rem;
                border-radius: .5rem;
                background-color: var(--another-color-for-hover);
                text-align: center;
                color: var(--main-text-color);
            }

            h3 {
                font-size: 2rem;
                color: var(--another-main-color);
                margin-bottom: .4rem;
            }

            span {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
            }

            &:hover {
                background-color: var(--another-main-color);

                h3 {
                    color: var(--main-text-color);
                }

                span {
                    color: var(--main-text-color);
                }

                i {
                    background-color: var(--light-bg-color);
                    color: var(--dark-color);
                }
            }
        }
    }
}

/* Jobs */

.jobs-container {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        .box {
            background-color: var(--main-bg-color);
            padding: 2rem;
            border-radius: 0.5rem;
            border: var(--border-color);
            box-shadow: var(--box-shadow-color);
            overflow-x: hidden;

            .company {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin-bottom: 1.5rem;

                img {
                    height: 8rem;
                    width: 8rem;
                    border-radius: 50%;
                    object-fit: contain;
                    margin-right: 1rem;
                }

                h3 {
                    font-size: 2rem;
                    color: var(--another-main-color);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-transform: capitalize;
                    padding-bottom: .5rem;
                }

                span {
                    font-size: 1.2rem;
                    color: var(--secondary-text-color);
                }

            }

            .job-title {
                font-size: 2rem;
                color: var(--another-main-color);
                text-transform: capitalize;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }

            .tags {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
                margin: 1rem 0;

                p {
                    padding: 1rem 2rem;
                    background-color: var(--second-filtter-color);
                    color: var(--another-main-color);
                    border-radius: 1rem;
                    border: 1px solid var(--second-filtter-color);
                    font-size: 1.6rem;

                    &:hover {
                        background-color: var(--another-main-color);
                        color: var(--main-text-color);
                        border: 1px solid var(--another-main-color);
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    i {
                        margin-right: .5rem;
                    }

                }
            }

            .location {
                padding: 1rem 0;
                font-size: 1.6rem;
                color: var(--secondary-text-color);

                i {
                    margin-right: .5rem;
                    color: var(--another-main-color);
                }
            }

            .ri-bookmark-line {
                font-size: 2.5rem;
                color: var(--another-main-color);
                cursor: pointer;
                transition: color 0.3s;
                background-color: var(--main-bg-color);

                &:hover {
                    color: var(--third-color-for-any);
                }
            }

            .ri-share-forward-line {
                font-size: 2.5rem;
                color: var(--another-main-color);
                cursor: pointer;
                transition: color 0.3s;
                background-color: var(--main-bg-color);

                &:hover {
                    color: var(--third-color-for-any);
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;

        a {
            padding: 1rem 2rem;
            font-size: 1.6rem;
            color: var(--another-main-color);
            background-color: var(--main-bg-color);
            border-radius: 0.5rem;
            border: var(--border-color);
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--another-main-color);
                color: var(--main-text-color);
            }
        }
    }
}

/* job filter */

.job-filter {
    form {
        background-color: var(--main-bg-color);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-color);
        border: var(--border-color);

        .flex {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            flex-wrap: wrap;
        }

        .box {
            flex: 1 1 40rem;

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                margin-bottom: 1rem;

                span {
                    color: var(--third-color-for-any);
                }
            }

            .input {
                width: 100%;
                padding: 1rem;
                margin: 1rem 0;
                font-size: 1.6rem;
                border: var(--border-color);
                border-radius: 0.5rem;
                cursor: pointer;
                background-color: var(--second-filtter-color);

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--secondary-text-color);
                }
            }
        }

        .drop-down-container {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            .drop-down {
                flex: 1 1 20rem;
                position: relative;

                .output {
                    width: 100%;
                    padding: 1.4rem;
                    font-size: 1.8rem;
                    border: var(--border-color);
                    border-radius: 0.5rem;
                    background-color: var(--second-filtter-color);
                    color: var(--secondary-text-color);
                    cursor: pointer;
                    text-align: center;
                    user-select: none;

                    &:placeholder-shown {
                        text-transform: capitalize;
                    }

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: var(--secondary-text-color);
                    }
                }

                .list {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background-color: var(--main-bg-color);
                    border: var(--border-color);
                    border-radius: 0.5rem;
                    box-shadow: var(--box-shadow-color);
                    /* display: none; */
                    z-index: 1000;
                    transform: scaleY(0);
                    transform-origin: top;


                    .option {
                        padding: 1.2rem 1.4rem;
                        font-size: 1.6rem;
                        color: var(--secondary-text-color);
                        transition: background-color 0.3s;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--another-main-color);
                            color: var(--main-text-color);
                        }
                    }
                }
            }
        }

    }
}

/* 
    activate the drop-down list when the input is focused
*/
.job-filter form .drop-down-container .drop-down .list:hover,
.job-filter form .drop-down-container .drop-down:hover .list,
.job-filter form .drop-down-container .drop-down .output:focus+.list,
.job-filter form .drop-down-container .drop-down .output:focus-within+.list {
    transform: scaleY(1);
    transition: .2s linear;
}

/* job details */

.job-details {
    .details {
        background-color: var(--main-bg-color);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-color);
        border: var(--border-color);
        overflow-x: hidden;

        h3 {
            font-size: 2.5rem;
            color: var(--another-main-color);
            margin-bottom: 1rem;
            text-transform: capitalize;
            text-overflow: ellipsis;
            overflow-x: ellipsis;
        }

        .basic-details {
            background-color: var(--second-filtter-color);
            padding: 1rem;
            border-radius: 0.5rem;
            margin: 1.5rem 0;

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                margin-bottom: 1rem;
                line-height: 1.8;
            }
        }

        .save {
            background-color: var(--second-filtter-color);
            color: var(--secondary-text-color);
            padding: 1rem 1.5rem;
            font-size: 1.6rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s;

            i {
                margin-right: 1rem;

            }



            &:hover {
                color: var(--third-color-for-any);
                background-color: var(--another-main-color);
            }
        }

        .description {
            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                margin-bottom: 1rem;
                line-height: 1.8;
            }
        }

        ul {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            margin: 1rem 0;

            li {
                padding: 1rem 2rem;
                background-color: var(--second-filtter-color);
                color: var(--another-main-color);
                border-radius: 1rem;
                border: 1px solid var(--second-filtter-color);
                font-size: 1.6rem;

                &:hover {
                    background-color: var(--another-main-color);
                    color: var(--main-text-color);
                    border: 1px solid var(--another-main-color);
                }

                &:first-child {
                    margin-left: 0;
                }

                i {
                    margin-right: .5rem;
                }

            }
        }

        .job-info {
            a {
                display: block;
                color: var(--another-main-color);
                font-size: 1.6rem;
                margin-bottom: 1rem;
                padding: 0.5rem 0;
                transition: color 0.3s;

                &:hover {
                    text-decoration: underline;
                    color: var(--third-color-for-any);
                }
            }

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                padding: 1rem 0;
                line-height: 1.8;
            }
        }
    }
}

/* view company */

.view-company {
    .details {
        background-color: var(--main-bg-color);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-color);
        border: var(--border-color);
        overflow-x: hidden;

        .company-info {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 1.5rem;

            img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                object-fit: contain;
                margin-right: 1rem;
            }

            h3 {
                font-size: 2rem;
                color: var(--another-main-color);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow-x: hidden;
                text-transform: capitalize;
                padding-bottom: .5rem;
            }

        }

        .description {
            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                line-height: 1.8;
            }

            h3 {
                font-size: 2rem;
                color: var(--another-main-color);
                margin-bottom: 1rem;
                text-transform: capitalize;
            }
        }

        ul {
            li {
                margin-left: 3rem;
                padding-top: 1.5rem;
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                line-height: 1.8;
            }
        }
    }
}

/* about  */
.about {
    img {
        width: 100%;
        border-radius: .5rem;
    }

    .box {
        background-color: var(--main-bg-color);
        border-radius: .5rem;
        box-shadow: var(--box-shadow-color);
        padding: 3rem 1.5rem;

        h3 {
            font-size: 2.5rem;
            color: var(--another-main-color);
            margin-bottom: 1rem;
            text-transform: capitalize;
        }

        p {
            padding: 1rem 0;
            font-size: 1.6rem;
            color: var(--secondary-text-color);
            margin-bottom: 1rem;
            line-height: 1.8;
        }


    }
}

/* reveiws */

.reviews {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;

        .box {
            background-color: var(--main-bg-color);
            padding: 2rem;
            border-radius: .5rem;
            box-shadow: var(--box-shadow-color);
            border: var(--border-color);

            .stars {
                display: flex;
                gap: .5rem;
                margin-bottom: 1.5rem;

                i {
                    color: var(--another-main-color);
                    font-size: 1.8rem;
                }
            }

            .title {
                font-size: 2rem;
                color: var(--another-main-color);
                margin-bottom: 1rem;
                text-transform: capitalize;
                text-align: right;
            }

            p {
                font-size: 1.6rem;
                color: var(--secondary-text-color);
                line-height: 1.8;
                text-align: right;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 1.5rem;

                img {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                h3 {
                    font-size: 1.8rem;
                    color: var(--another-main-color);
                    text-transform: capitalize;
                }

                span {
                    font-size: 1.4rem;
                    color: var(--secondary-text-color);
                }
            }

        }
    }
}

/* contact us */

.contact {
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35rem);
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        .box {
            background-color: var(--main-bg-color);
            padding: 3rem 2rem;
            text-align: center;
            border-radius: .5rem;
            box-shadow: var(--box-shadow-color);
            border: var(--border-color);

            i {
                font-size: 2rem;
                color: var(--light-bg-color);
                line-height: 4.5rem;
                text-align: center;
                color: var(--another-main-color);
                border-radius: .5rem;
                padding: 2rem;
            }

            a {
                color: var(--another-main-color);
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding: 0.5rem 0;
                line-height: 1.5;
            }
        }
    }

    form {
        background-color: var(--main-bg-color);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-color);
        border: var(--border-color);
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: center;

        h3 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            color: var(--another-main-color);
            text-transform: capitalize;
        }

        .flex {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            flex-wrap: wrap;

            .box {
                flex: 1 1 40rem;

                p {
                    font-size: 1.6rem;
                    color: var(--secondary-text-color);
                    text-transform: capitalize;

                    span {
                        color: var(--third-color-for-any);
                    }
                }

                .input {
                    width: 100%;
                    padding: 1rem;
                    margin: 1rem 0;
                    font-size: 1.6rem;
                    border: var(--border-color);
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background-color: var(--second-filtter-color);

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: var(--secondary-text-color);
                    }
                }

            }
        }
    }
}

/* login */
.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .wrapper .title-text {
    display: flex;
    width: 200%;
  }
  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
  }
  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup {
    color: #000;
  }
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  input[type="radio"] {
    display: none;
  }
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login {
    color: #000;
  }
  #login:checked ~ label.signup {
    color: #000;
  }
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus {
    border-color: #1a75ff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder {
    color: #1a75ff;
  }
  .form-inner form .pass-link {
    margin-top: 5px;
  }
  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a {
    color: #1a75ff;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover {
    text-decoration: underline;
  }
  form .btn {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
      right,
      #003366,
      #004080,
      #0059b3,
      #0073e6
    );
    border-radius: 15px;
    transition: all 0.4s ease;
  }
  form .btn:hover .btn-layer {
    left: 0;
  }
  form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

/* footer */

.footer {
    background-color: var(--light-bg-color);

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        .box {

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;
                color: var(--another-main-color);
            }

            a {
                display: block;
                color: var(--secondary-text-color);
                font-size: 1.6rem;
                margin-bottom: 1rem;
                padding: 0.5rem 0;
                transition: color 0.3s;

                &:hover {
                    margin-left: 2rem;
                    color: var(--another-main-color);
                    transition: .2s linear;
                }

                i {
                    color: var(--another-main-color);
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .credit {
        text-align: center;
        padding: 2rem 0;
        background-color: var(--another-main-color);
        color: var(--main-text-color);
        font-size: 1.6rem;
        box-shadow: var(--box-shadow-color);

        span {
            color: var(--third-color-for-any);
        }
    }

}



















/* media queries */

@media screen and (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .section-title {
        font-size: 4rem;
        padding: 4rem 2rem;
    }

}

@media screen and (max-width: 768px) {

    html {
        font-size: 52%;
    }

    .header {

        .flex {

            .navbar.active {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: var(--light-bg-color);
                box-shadow: var(--box-shadow-color);
                text-align: center;
                padding: 1rem 0;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                transition: .2s linear;

                li {
                    display: block;
                    margin: 1rem 0;

                    a {
                        padding: 1rem 0;
                        display: block;
                        color: var(--dark-color);
                        font-size: 2rem;
                        transition: color 0.3s;

                        &:hover {
                            background-color: var(--another-main-color);
                            color: var(--main-text-color);
                        }
                    }
                }
            }
        }
    }

    #menu-btn {
        display: inline-block;
    }

    .header {

        .flex {

            .logo {
                font-size: 2rem;
            }
        }
    }

    .category {

        .box-container {
            grid-template-columns: repeat(auto-fit, 16);

            .box {
                flex-flow: column;
                text-align: center;

                h3 {
                    margin-top: 1rem;
                }
            }
        }

    }

}

@media screen and (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .section-title {
        font-size: 3rem;
    }

}